In [50]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [51]:
data = pd.read_csv('D:\Dataset\places.txt', header=None)
print(data.shape)
data.head()

(300, 2)

            0          1
0 -112.070792  33.451625
1 -112.065542  33.449298
2 -112.073931  33.456491
3 -112.074866  33.470116
4  -80.525690  43.477099

In [52]:
kmeans3 = KMeans(n_clusters=3)
y_kmeans3 = kmeans3.fit_predict(data)
print(y_kmeans3)

[1 1 1 1 0 0 2 1 1 2 1 2 0 1 2 2 2 1 2 0 0 0 0 2 1 0 1 0 1 1 0 2 1 1 1 2 0
 1 0 2 2 2 2 2 2 0 1 2 1 1 0 2 1 2 0 2 1 2 0 2 1 0 2 1 0 2 2 1 0 2 0 1 2 0
 1 1 1 2 0 1 1 2 1 0 1 1 0 1 0 1 0 0 1 0 0 0 2 2 1 1 1 0 1 1 2 2 1 0 1 1 0
 2 1 0 1 1 0 1 0 0 2 2 1 0 2 0 2 0 2 0 2 0 2 1 1 0 0 1 1 0 2 2 1 0 2 2 2 1
 2 2 0 2 2 0 0 0 0 0 2 2 0 1 0 1 2 0 0 0 0 0 0 1 1 2 2 1 0 2 2 0 1 0 2 2 0
 2 2 0 1 0 2 2 1 1 1 2 1 1 2 1 0 1 2 1 0 2 1 0 2 2 0 2 2 1 0 0 1 0 1 0 1 0
 0 0 2 2 2 1 2 1 1 2 2 0 0 2 1 2 1 2 1 1 2 2 2 2 2 2 2 1 2 2 0 0 0 0 2 1 2
 1 0 1 2 0 0 1 0 1 0 1 0 2 1 2 0 0 1 1 0 0 2 2 2 2 0 0 2 0 0 1 0 1 2 1 0 1
 1 1 0 1]

In [53]:
df=pd.DataFrame(y_kmeans3)
df.to_csv("D:\Dataset\place.csv")
print(df.shape)
df.take([2,45,67,90,123,226])

(300, 1)

     0
2    1
45   0
67   1
90   0
123  0
226  2

In [54]:
from sklearn.metrics.cluster import normalized_mutual_info_score
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('D:\Dataset\Cluster_vadilation_data\partitions.txt', header=None,delimiter=' ')
print(df.shape)
df.head()

(300, 2)

   0  1
0  1  2
1  2  0
2  3  2
3  4  1
4  5  2

In [58]:
df1 = pd.read_csv('D:\Dataset\Cluster_vadilation_data\clustering_1.txt', header=None,delimiter=' ')
print(df1.shape)
df1.head()

(300, 2)

   0  1
0  1  2
1  2  0
2  3  2
3  4  1
4  5  2

In [59]:
df2 = pd.read_csv('D:\Dataset\Cluster_vadilation_data\clustering_2.txt', header=None,delimiter=' ')
print(df2.shape)
df2.head()

(300, 2)

   0  1
0  1  2
1  2  0
2  3  1
3  4  1
4  5  2

In [60]:
df3 = pd.read_csv('D:\Dataset\Cluster_vadilation_data\clustering_3.txt', header=None,delimiter=' ')
print(df3.shape)
df3.head()

(300, 2)

   0  1
0  1  2
1  2  0
2  3  1
3  4  1
4  5  2

In [61]:
df4 = pd.read_csv('D:\Dataset\Cluster_vadilation_data\clustering_4.txt', header=None,delimiter=' ')
print(df4.shape)
df4.head()

(300, 2)

   0  1
0  1  2
1  2  0
2  3  2
3  4  1
4  5  2

In [62]:
df5 = pd.read_csv('D:\Dataset\Cluster_vadilation_data\clustering_5.txt', header=None,delimiter=' ')
print(df5.shape)
df5.head()

(300, 2)

   0  1
0  1  0
1  2  0
2  3  0
3  4  1
4  5  0

In [63]:
nmi1=normalized_mutual_info_score(df[1], df1[1])
nmi1

0.8896247665800587

In [64]:
nmi2=normalized_mutual_info_score(df[1], df2[1])
nmi2

0.6456368113477217

In [65]:
nmi3=normalized_mutual_info_score(df[1], df3[1])
nmi3

0.391543746381692

In [66]:
nmi4=normalized_mutual_info_score(df[1], df4[1])
nmi4

0.764277135869685

In [67]:
nmi5=normalized_mutual_info_score(df[1], df5[1])
nmi5

0.7336804366512119

In [68]:
from sklearn.metrics import jaccard_score

In [69]:
df[1]= np.where(df[1]==0,0,1)
df1[1]= np.where(df1[1]==0,0,1)

In [70]:
js1=jaccard_score(df[1], df1[1])
js1

0.9801980198019802